.form-section {
  margin: 10px 0;
  label {
    width: 200px;
    margin: 0 10px 0 0;
    display: inline-block;
    text-align: right;
    vertical-align: top;
  }
}

#config {
  #config-aws-access-key-id {
    width: 200px;
  }
  #config-aws-secret-access-key {
    width: 300px;
  }
}

#new-hit-form {
  border: 2px solid #999;
  border-radius: 5px;
  h2 {
    margin: 15px 0 15px 30px;
  }
  #new-hit-template {
    width: 500px;
    height: 300px;
  }
}
